.sidebar-container {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: space-between;
  border-right: 1px solid lightgrey;
  overflow-y: scroll;
  background: #fff;

  &.closed {
    position: absolute;
    height: 100%;
    top: -30px;
  }

  .sidebar-list {
    padding: 20px;
  }

  .toggle-btn {
    width: 100%;
    height: 30px;
    border: unset;
    outline: unset;
    cursor: pointer;
    text-align: right;

    &.sidebar-closed {
      text-align: center;
    }

    &:hover {
      background: rgb(231, 231, 231);
    }
  }
}